/* 水平居中 */
.center-block() {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* 尺寸 */
.size(@width: 100%; @height: @width) {
    width: @width;
    height: @height;
}

/* 截断文字 */
.text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.branch-name {
    display: inline-block;
    max-width: 200px;
    .text-overflow();
}

.clearfix() {
    &::after {
        display: block;
        content: '';
        clear: both;
    }
}

.scrollbar() {
    &::-webkit-scrollbar {
        /*滚动条整体样式*/
        width: 6px;
        /*高宽分别对应横竖滚动条的尺寸*/
        height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        position: relative;
        display: block;
        width: 0;
        height: 0;
        cursor: pointer;
        border-radius: inherit;
        background-color: rgba(144, 147, 153, 0.3);
        transition: background-color 0.3s;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-track {
        /*滚动条里面轨道*/
        border-radius: 0;
        background: transparent;
    }
}
